
@{
    ViewBag.Title = "ConfirmAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="form-appointment" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2>ConfirmAppointment</h2>
                Appointment successfully created
                <br>
                <br>
            </div>
        </div>
    </div>
</section>