
@{
    ViewBag.Title = "ConfirmAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfirmAppointment</h2>

<section id="form-appointment" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                Appointment successfully created
            </div>
        </div>
    </div>
</section>